.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #111111;
}

.value {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;

  text-transform: capitalize;

  color: #394c60;
}

.table-header {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;
  color: #394c60;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.page-tile {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  text-transform: capitalize;

  color: #000000;
  font-family: var(--font-family);
}

.error {
  text-align: center;
  color: red;
  margin-bottom: 1rem;
}

.membership {
  border-radius: 2.36364px;
  // width: 70%;
  display: inline-block;
  text-align: center;
  padding: .5rem;
  display: block
}
.basic {
  background: rgba(56, 163, 255, 0.15);
  color: #38a3ff;
}

.diamond {
  background: rgba(64, 184, 96, 0.15);
  border-radius: 2.36364px;
  color: #40B860;

}

.gold{
  background-color: #F0E68C;
  color: #CD853F;
}