:root {
  --main-color:#38A3FF;
  --secondary-color: #394C60;
  --bx-shadow:  0px 0px 4.96947px rgba(0, 0, 0, 0.2);
  --bg-color: #F1F3F6;
  --white-bg-color: #ffffff;
  --font-family: 'Poppins', sans-serif;
  --border-radius: 10px;
  --backdrop-filter: rgba(36, 36, 36, .55);
  --bg-color-2: rgba(64, 184, 96, 0.15);
  --bg-color-3: rgba(56, 163, 255, 0.15);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #111111;
}

.value {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-transform: capitalize;
  color: #394c60;
}

.table-header {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;
  color: #394c60;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.page-tile {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #000000;
  font-family: var(--font-family);
}

.error {
  text-align: center;
  color: red;
  margin-bottom: 1rem;
}

.membership {
  border-radius: 2.36364px;
  display: inline-block;
  text-align: center;
  padding: .5rem;
  display: block;
}

.basic {
  background: rgba(56, 163, 255, 0.15);
  color: #38a3ff;
}

.diamond {
  background: rgba(64, 184, 96, 0.15);
  border-radius: 2.36364px;
  color: #40B860;
}

.gold {
  background-color: #F0E68C;
  color: #CD853F;
}

.table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  position: relative;
}

.table__head {
  background: rgba(241, 243, 246, 0.96);
  border-radius: 2.59932px;
}

.table__head th {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #7d8894;
}

.table th,
.table td {
  padding: 1rem;
}

.table tbody > tr {
  cursor: pointer;
}

.table,
.table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.table tr td:last-child {
  position: relative;
}

.table tr td:last-child > img {
  cursor: pointer;
}

.table tr td:last-child ul {
  position: absolute;
  margin: 0;
  top: 15px;
  padding: 0;
  list-style: none;
  background-color: #ccc;
  border-radius: 5px;
  width: 120px;
  -webkit-box-shadow: var(--bx-shadow);
          box-shadow: var(--bx-shadow);
  z-index: 10000000;
}

.table tr td:last-child ul li {
  padding: 10px;
  text-align: center;
  background-color: white;
  color: var(--main-color);
  cursor: pointer;
}

.table tr td:last-child ul li:hover {
  color: white;
  background-color: var(--main-color);
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.form__label {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #242424;
  margin-bottom: 0.7rem;
  font-family: var(--font-family);
}

.form__svg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  border: 0.54382px solid #cfcfdd;
  background: #f8f8fb;
  border-radius: 4px;
}

.form__svg img {
  position: absolute;
  left: 15px;
}

.form__input {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  font-family: var(--font-family);
  margin-left: 16px;
  border-left: none;
  border-right: none;
}

.form__input:focus {
  outline: none;
}

.form__input:-webkit-autofill {
  -webkit-text-fill-color: #000;
  box-shadow: 0 0 0px 1000px #f8f8fb inset;
  -webkit-box-shadow: 0 0 0px 1000px #f8f8fb inset;
}

.form__input-nosvg {
  border: 0.54382px solid #cfcfdd !important;
  background: #f8f8fb !important;
  border-radius: 5px !important;
  margin-left: 0;
}

select option {
  font-size: 1rem;
}

input:disabled {
  cursor: not-allowed;
  background-color: red;
}

textarea:-moz-read-only {
  background-color: red;
  cursor: not-allowed;
}

textarea:read-only {
  background-color: red;
  cursor: not-allowed;
}

.button {
  padding: 0.9rem 1rem;
  border-radius: 2.7191px;
  cursor: pointer;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
}

.button:focus {
  outline: none;
}

.button-grey {
  background-color: var(--secondary-color);
}

.button-grey-2 {
  background-color: rgba(57, 76, 96, 0.15);
}

.button-grey-2 span {
  color: #394c60 !important;
}

.button-blue {
  background-color: var(--main-color);
}

.button img {
  margin-right: 1rem;
}

.button span {
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 13px;
  text-transform: capitalize;
  color: #ffffff;
}

.table__actions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.table__actions-container button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.table__actions-form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
}

.table__actions-form div {
  width: 100%;
  margin-right: 2rem;
  margin-bottom: 0 !important;
}

.table__actions-form button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.pagination {
  width: 100%;
  margin-top: 2rem;
}

.pagination__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__container > * {
  margin-right: 1rem;
  cursor: pointer;
}

.pagination__img {
  height: 21px;
  width: 21px;
  background: rgba(56, 163, 255, 0.15);
  border-radius: 3.49765px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active {
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 1rem;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: var(--backdrop-filter);
  height: 100vh;
}

.modal_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.modal_content {
  padding: 3rem;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}

.modal_content p {
  font-size: 20px;
  text-transform: uppercase;
}

.modal_content a {
  font-size: 1rem;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: auto;
  margin-top: 1.5rem;
}

.modal_content a:active {
  color: transparent;
}

.modal_content button {
  width: 50%;
  margin: 1rem auto 0 auto;
}

.modal_content button span {
  text-align: center;
  width: 100%;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--main-color);
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add__container {
  background-color: var(--white-bg-color);
  width: 500px;
  padding: 2rem;
  -webkit-box-shadow: 0px 0px 4.96947px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 4.96947px rgba(0, 0, 0, 0.2);
  border-radius: 7.09924px;
}

.add__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.add__header img {
  cursor: pointer;
}

.add__buttons {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.add__buttons button {
  margin-right: 0.6rem;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add__buttons button span {
  font-size: 14px !important;
  font-family: var(--font-family);
  font-weight: 600;
}

.layout {
  width: 100%;
}

.layout__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout__sidebar {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  background-color: var(--white-bg-color);
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.layout__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

.container {
  width: 95%;
  margin: auto;
  padding-top: 1rem;
}

.sidebar {
  width: 100%;
  height: 100%;
}

.sidebar__container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.sidebar__menu {
  height: 48px !important;
  width: 32px;
  background-color: var(--main-color);
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  margin-right: 2.5rem;
}

.sidebar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 200px;
  margin: auto;
}

.sidebar__logo img {
  height: 100%;
  width: 100%;
}

.sidebar__nav {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar__item {
  width: 100%;
  font-family: var(--font-family);
}

.sidebar__item:not(:last-child) {
  margin-bottom: 1rem;
}

.sidebar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0 16px 20px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 1rem;
}

.sidebar__link svg {
  margin-right: 2rem;
}

.sidebar__active span {
  font-weight: 600;
  color: var(--main-color);
}

.sidebar__active svg path {
  fill: var(--main-color);
}

.sidebar__logout {
  width: 90%;
  margin: auto;
  background-color: var(--main-color);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sidebar__logout img:first-of-type {
  border-radius: 50%;
}

.sidebar__logout div {
  margin-left: 0.8rem;
  margin-right: .8rem;
  color: var(--white-bg-color);
}

.sidebar__logout div p:first-of-type {
  font-size: 16px;
}

.sidebar__logout div p:last-of-type {
  font-size: 13px;
}

.sidebar__logout img:last-of-type {
  cursor: pointer;
}

.dashboard {
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
}

.dashboard__list {
  margin-bottom: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.dashboard__item {
  background-color: var(--white-bg-color);
  padding: 1.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.dashboard__table {
  background-color: var(--white-bg-color);
  border-radius: var(--border-radius);
}

.dashboard__table-container {
  width: 95%;
  margin: 2rem auto;
  padding: 2rem 0;
}

.dashboard__table-actions {
  margin-top: 1.5rem;
}

.dashboard__table-actions a:last-child {
  margin-left: 2rem;
  color: white;
  padding: 0.9rem 1rem;
}

.dashboard__table-actions a:last-child span {
  font-size: .7rem !important;
  font-family: var(--font-family);
}

.customer {
  width: 100%;
}

.customer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.customer__form {
  width: 600px;
  max-width: 90%;
  -webkit-box-shadow: 0px 0px 3.2772px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 3.2772px rgba(0, 0, 0, 0.15);
  border-radius: 6.5544px;
  background-color: var(--white-bg-color);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.customer__form-container {
  width: 90%;
  margin: 2rem auto;
}

.customer__form-container div:not(:last-of-type) {
  margin-bottom: 2rem !important;
}

.customer__form button {
  width: 25%;
  margin: auto;
  font-family: var(--font-family);
}

.customer__form button span {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 1rem;
}

.transaction {
  width: 100%;
  position: relative;
  height: 100%;
  z-index: 0;
}

.transaction__table {
  margin-top: 3rem;
  background-color: var(--white-bg-color);
  border-radius: var(--border-radius);
}

.transaction__table-container {
  width: 95%;
  margin: auto;
  padding: 2rem 0;
}

.single {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.single__box {
  background-color: var(--bg-color);
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
}

.single__container {
  width: 90%;
  margin: auto;
  padding: 2rem 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(28, 45, 67, 0.15);
}

.single__head h1 {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000000;
}

.single__head img {
  cursor: pointer;
}

.single__details {
  margin-top: 3rem;
  background-color: var(--white-bg-color);
  height: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single__total {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2rem;
  background-color: var(--bg-color);
  -webkit-box-shadow: 0px 4px 15px rgba(228, 228, 228, 0.25);
          box-shadow: 0px 4px 15px rgba(228, 228, 228, 0.25);
  padding: 2rem 3rem;
  border-radius: 10px;
}

.single__total p:first-of-type {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 0.8rem;
}

.single__total p:last-of-type {
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #394c60;
}

.single table {
  width: 93%;
  margin: 2rem auto;
}

.single__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single__actions img {
  margin-right: 0.6rem;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.single__actions img:first-of-type {
  background-color: var(--bg-color-3);
}

.single__actions img:last-of-type {
  background-color: rgba(57, 76, 96, 0.1);
}

.users {
  width: 100%;
}

.users__table {
  margin-top: 3rem;
  background-color: var(--white-bg-color);
  padding: 2rem;
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.users__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.users__actions button {
  margin-right: 2rem;
}

.users__button {
  text-align: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.login {
  width: 100%;
  position: relative;
}

.login__container {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login__logo {
  width: 100px;
  height: 100px;
}

.login__logo img {
  width: 100%;
  height: auto;
}

.login__form {
  width: 500px;
  max-width: 90%;
  margin: 3rem auto;
  border-radius: 5px;
  -webkit-box-shadow: var(--bx-shadow);
          box-shadow: var(--bx-shadow);
}

.login__form h3, .login__form p {
  text-align: center;
}

.login__form h3 {
  font-size: 30px;
  font-weight: bold;
  padding-top: 2rem;
  font-family: var(--font-family);
}

.login__form-container {
  width: 80%;
  margin: auto;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__form-container button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30%;
  margin-top: 1rem;
}

.login__form-container button span {
  text-align: center;
  display: block;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */